@font-face {
    font-family: 'JoseonPalace';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    /* background: transparent !important; */
}

body {
    position: relative;
}

body {
    position: relative;
    background: transparent !important;
}

.date-badge {
    position: absolute;
    top: 40px;
    right: 160px;

    width: 74px;
    height: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background: transparent;
    pointer-events: none;
    user-select: none;
    box-sizing: border-box;
}

.date-day,
.date-number {
    width: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    color: #a48789;
}

.date-day {
    height: 22px;
    margin-bottom: 18px;

    font-family: 'JoseonPalace', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

.date-number {
    font-family: "MonteCarlo", "Bickham Script Pro", "Bickham Script", cursive;
    font-weight: 400;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    font-variant-numeric: lining-nums tabular-nums;
}

.date-main {
    height: 56px;
    font-size: 48px;
    margin-bottom: 6px;
    transform: translate(-2px, -14px);
}

.date-sub {
    height: 52px;
    font-size: 48px;
    transform: translate(-2px, -20px);
}
